CREATE EXTENSION IF NOT EXISTS postgis;
CREATE TABLE quadras (
  id SERIAL PRIMARY KEY,
  nome_quadra VARCHAR(100) NOT NULL,
  localizacao GEOGRAPHY(POINT, 4326),
  acessivel BOOLEAN DEFAULT false,
  zona VARCHAR(50)
);
